<!-- start: LOCK SCREEN -->
<div class="row" ng-controller="lockCtrl">
    <div class="lock-screen">
        <div class="box-ls">
            <img alt="" src="assets/images/avatar-1-xl.jpg" class="img-rounded" />
            <div class="user-info">
                <h4>{{params.user.first_name + ' ' + params.user.last_name}}</h4>
                <span>{{params.user.email}}</span>
                <form>
                    <div class="input-group">
                        <input type="password" ng-model="params.password" placeholder="Password to unlock" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-green" type="button" ng-click="unlock()">
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end: LOCK SCREEN -->