<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Contacts</h4>
    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: BASIC TABLE -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <h5 class="over-title margin-bottom-15">  <span class="text-bold">Team Contact Details</span></h5>
                        <p></p><hr>


                    <table border="0" cellpadding="0" cellspacing="0" width="559" height="111">
                        <tr>
                            <td valign="top" width="163">
                                <p align="center">
                                    <img border="4" src="http://www.thebusinessdesk.com/assets/_files/cached/img/310x233/dec_10/businessdesk__1291818817_Nick_Taplin.jpg?access=604T013T840" width="130" height="98" align="middle"></td>
                            <td valign="top" width="396">
                                <br>
                                <p><b>Nick Taplin </b>
                                    <br>
                                    <a><b>Cheif Executive Officer</b></a><br>
                                    <a>t: 0000 000 0000</a>
                                    <br>
                                    <a>e: <a href="mailto:nick@blackandwhitehospitality.com?Subject=Hello%20" target="_top">nick@blackandwhitehospitality.com</a></a>
                            </td>


                        </tr>

                    </table>

                    <hr>

                    <table border="0" cellpadding="0" cellspacing="0" width="559" height="111">
                        <tr>
                            <td valign="top" width="163">
                                <p align="center">
                                    <img border="4" src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/1/000/057/37c/38554f8.jpg" width="100" height="100" align="middle"></td>
                            <td valign="top" width="396">
                                <br>
                                <p><b>Caroline Wilce</b>
                                    <br>
                                    <a><b>Financial Director</b></a><br>
                                    <a>t: 0000 000 0000</a>
                                    <br>
                                    <a>e:
                                        <a href="mailto:caroline@blackandwhitehospitality.com?Subject=Hello%20" target="_top">caroline@blackandwhitehospitality.com</a></a>
                            </td>


                        </tr>

                    </table>

                    <hr>

                    <table border="0" cellpadding="0" cellspacing="0" width="559" height="111">
                        <tr>
                            <td valign="top" width="163">
                                <p align="center">
                                    <img border="4" src="http://www.interstatehotels.co.uk/assets/images/staff-images/Aslam-Shezan.jpg" width="73" height="101" align="middle"></td>
                            <td valign="top" width="396">
                                <br>
                                <p><b>Shezan Aslam </b>
                                    <br>
                                    <a><b>Director</b></a><br>
                                    <a>t: 0000 000 0000</a>
                                    <br>
                                    <a>e:
                                        <a href="mailto:shezan@blackandwhitehospitality.comm?Subject=Hello%20">
                                            shezan</a><a href="mailto:shezan@blackandwhitehospitality.com?Subject=Hello%20" target="_top">shezan@blackandwhitehospitality.com</a></a>
                            </td>


                        </tr>

                    </table>

                    <hr>

                    <table border="0" cellpadding="0" cellspacing="0" width="559" height="111">
                        <tr>
                            <td valign="top" width="163">
                                <p align="center">
                                    <img border="4" src="" width="130" height="98" align="middle"></td>
                            <td valign="top" width="396">
                                <br>
                                <p><b>Angela Robinson</b><br>
                                   <a><b>Director</b></a><br>
                                    <a>t: 0000 000 0000</a>
                                    <br>
                                    <a>e:
                                        <a href="mailto:angela@blackandwhitehospitality.comm?Subject=Hello%20">
                                            angela</a><a href="mailto:angela@blackandwhitehospitality.com?Subject=Hello%20" target="_top">angela@blackandwhitehospitality.com</a></a>
                            </td>


                        </tr>

                    </table>

                    <hr>

                    <table border="0" cellpadding="0" cellspacing="0" width="559" height="111">
                        <tr>
                            <td valign="top" width="163">
                                <p align="center">
                                    <img border="4" src="" width="130" height="98" align="middle"></td>
                            <td valign="top" width="396">
                                <br>
                                <p><b>Shaun Cremins  </b>
                                    <br>
                                    <a><b>Brand Director</b></a><br>
                                    <a>t: 0000 000 0000</a>
                                    <br>
                                    <a>e: <a href="mailto:shaun@blackandwhitehospitality.com?Subject=Hello%20" target="_top">shaun@blackandwhitehospitality.com</a></a>
                            </td>


                        </tr>

                    </table>

                    <hr>

                    <table border="0" cellpadding="0" cellspacing="0" width="559" height="111">
                        <tr>
                            <td valign="top" width="163">
                                <p align="center">
                                    <img border="4" src="" width="130" height="98" align="middle"></td>
                            <td valign="top" width="396">
                                <br>
                                <p><b>Jade Mallia </b>
                                    <br>
                                    <a><b>Marketing Director</b></a><br>
                                    <a>t: 0000 000 0000</a>
                                    <br>
                                    <a>e: <a href="mailto:jade@blackandwhitehospitality.com?Subject=Hello%20" target="_top">jade@blackandwhitehospitality.com</a></a>
                            </td>


                        </tr>

                    </table>

                    <hr>

                    <table border="0" cellpadding="0" cellspacing="0" width="559" height="111">
                        <tr>
                            <td valign="top" width="163">
                                <p align="center">
                                    <img border="4" src="" width="130" height="98" align="middle"></td>
                            <td valign="top" width="396">
                                <br>
                                <p><b>Keyana Mohammadi </b>
                                    <br>
                                    <a><b>Marketing Executive</b></a><br>
                                    <a>t: 0000 000 0000</a>
                                    <br>
                                    <a>e: <a href="mailto:keyana@blackandwhitehospitality.com?Subject=Hello%20" target="_top">keyana@blackandwhitehospitality.com</a></a>
                            </td>


                        </tr>

                    </table>


                    <hr>

                    <table border="0" cellpadding="0" cellspacing="0" width="559" height="111">
                        <tr>
                            <td valign="top" width="163">
                                <p align="center">
                                    <img border="4" src="" width="130" height="98" align="middle"></td>
                            <td valign="top" width="396">
                                <br>
                                <p><b>Andrew Bennett </b>
                                    <br>
                                    <a><b>Chef Director</b></a><br>
                                    <a>t: 0000 000 0000</a>
                                    <br>
                                    <a>e: <a href="mailto:andrew@blackandwhitehospitality.com?Subject=Hello%20" target="_top">andrew@blackandwhitehospitality.com</a></a>
                            </td>


                        </tr>

                    </table>


                    <hr>

                    <table border="0" cellpadding="0" cellspacing="0" width="559" height="111">
                        <tr>
                            <td valign="top" width="163">
                                <p align="center">
                                    <img border="4" src="" width="130" height="98" align="middle"></td>
                            <td valign="top" width="396">
                                <br>
                                <p><b>Richard Wilcox </b>
                                    <br>
                                    <a><b>Procurement Director </b></a><br>
                                    <a>t: 0000 000 0000</a>
                                    <br>
                                    <a>e: <a href="mailto:richard.wilcox@theprocurementco.com?Subject=Hello%20" target="_top">richard.wilcox@theprocurementco.com</a></a>
                            </td>


                        </tr>

                    </table>



                <hr>
                    <p align="center">
                        For additional information please email
                        <a href="mailto:team@flintxsystems.com?Subject=Dashboard%20Email" target="_top">team@flintxsystems.com</a>
                    </p>



                </div>
            </div>
        </div>
    </div>
</div>