<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin">Nightly Feedback Form</h4>

    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<!-- start: WIZARD DEMO -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <h5 class="over-title margin-bottom-15">Wizard <span class="text-bold">demo</span></h5>
                    <p>
                        Some textboxes in this example is required.
                    </p>
                    <div ng-controller="restaurantNightlyFeedbackForm">
                        <!-- start: WIZARD FORM -->
                        <form name="Form" id="form" novalidate>
                            <div id="wizard" class="swMain">
                                <!-- start: WIZARD SEPS -->
                                <ul>
                                    <li ng-click="form.goTo(Form, 1)">
                                        <a href ng-class="{'selected' : currentStep >= 1, 'done' : currentStep > 1}">
                                            <div class="stepNumber">
                                                <!--1-->
                                            </div>
                                            <span class="stepDesc text-small"> Covers </span>
                                        </a>
                                    </li>
                                    <li ng-click="form.goTo(Form, 2)">
                                        <a href ng-class="{'selected' : currentStep >= 2, 'done' : currentStep > 2}">
                                            <div class="stepNumber">
                                                <!--2-->
                                            </div>
                                            <span class="stepDesc text-small"> Revenue </span>
                                        </a>
                                    </li>
                                    <li ng-click="form.goTo(Form, 3)">
                                        <a href ng-class="{'selected' : currentStep >= 3, 'done' : currentStep > 3}">
                                            <div class="stepNumber">
                                                <!--3-->
                                            </div>
                                            <span class="stepDesc text-small"> Commentary </span>
                                        </a>
                                    </li>
                                    <li ng-click="form.goTo(Form, 4)">
                                        <a href ng-class="{'selected' : currentStep >= 4, 'done' : currentStep > 4}">
                                            <div class="stepNumber">
                                                <!--4-->
                                            </div>
                                            <span class="stepDesc text-small"> Complete </span>
                                        </a>
                                    </li>
                                </ul>

                                <!-- end: WIZARD SEPS -->
                                <!-- start: WIZARD STEP 1 -->
                                <div id="step-1" ng-show="currentStep == 1">
                                    <div class="row">
                                        <div class="col-xs-12" ng-if="params.show.date">
                                            <label> Date
                                                <span class="symbol required"></span>
                                            </label>
                                            <p class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="params.formData.date"
                                                       is-open="params.opened"

                                                       datepicker-options="params.dateOptions"
                                                       ng-required="currentStep == 1"
                                                       close-text="Close"
                                                       alt-input-formats="params.altInputFormats"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="toggleDatePopover()">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
                                            </p>
                                        </div>
                                        <div class="col-xs-12">
                                            <fieldset>
                                                <legend>
                                                    Covers
                                                </legend>
                                                <div class="row">
                                                    <div class="col-sm-3" ng-if="params.show.lunchCoversStartDay">
                                                        <div class="form-group">
                                                            <label> Lunch Covers (Start of the day) <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Lunch Covers (Start of the day)"
                                                                   class="form-control"
                                                                   name="lunchCoversStartDay"
                                                                   ng-model="params.formData.lunchCoversStartDay"
                                                                   ng-required="currentStep == 1"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3" ng-if="params.show.dinnerCoversStartDay">
                                                        <div class="form-group">
                                                            <label> Dinner Covers (Start of the day) <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Dinner Covers (Start of the day)"
                                                                   class="form-control"
                                                                   name="dinnerCoversStartDay"
                                                                   ng-model="params.formData.dinnerCoversStartDay"
                                                                   ng-required="currentStep == 1"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3" ng-if="params.show.afternoonTeaCover">
                                                        <div class="form-group">
                                                            <label> Afternoon Tea Covers <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Afternoon Tea Covers"
                                                                   class="form-control"
                                                                   name="afternoonTeaCover"
                                                                   ng-model="params.formData.afternoonTeaCover"
                                                                   ng-required="currentStep == 1"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3" ng-if="params.show.brunchCovers">
                                                        <div class="form-group">
                                                            <label> Brunch Covers <span class="symbol required"></span>
                                                            </label>
                                                            <input type="text"
                                                                   placeholder="Brunch Covers"
                                                                   class="form-control"
                                                                   name="brunchCovers"
                                                                   ng-model="params.formData.brunchCovers"
                                                                   ng-required="currentStep == 1"/>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3" ng-if="params.show.lunchCoversNoShow">
                                                        <div class="form-group">
                                                            <label> Lunch Covers (No Shows)
                                                                <span class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Lunch Covers (No Shows)"
                                                                   class="form-control"
                                                                   name="lunchCoversNoShow"
                                                                   ng-model="params.formData.lunchCoversNoShow"
                                                                   ng-required="currentStep == 1"/>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3" ng-if="params.show.dinnerCoversNoShow">
                                                        <div class="form-group">
                                                            <label> Dinner Covers (No Shows) <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Dinner Covers (No Shows)"
                                                                   class="form-control"
                                                                   name="dinnerCoversNoShow"
                                                                   ng-model="params.formData.dinnerCoversNoShow"
                                                                   ng-required="currentStep == 1"/>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3" ng-if="params.show.inHouseGuests">
                                                        <div class="form-group">
                                                            <label> In House Guests <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="In House Guests"
                                                                   class="form-control"
                                                                   name="inHouseGuests"
                                                                   ng-model="params.formData.inHouseGuests"
                                                                   ng-required="currentStep == 1"/>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3" ng-if="params.show.lunchCoversWalkIns">
                                                        <div class="form-group">
                                                            <label> Lunch Covers (Walk Ins) <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Lunch Covers (Walk Ins)"
                                                                   class="form-control"
                                                                   name="lunchCoversWalkIns"
                                                                   ng-model="params.formData.lunchCoversWalkIns"
                                                                   ng-required="currentStep == 1"/>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3" ng-if="params.show.dinnerCoversWalkIns">
                                                        <div class="form-group">
                                                            <label> Dinner Covers (Walk Ins) <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Dinner Covers (Walk Ins)"
                                                                   class="form-control"
                                                                   name="dinnerCoversWalkIns"
                                                                   ng-model="params.formData.dinnerCoversWalkIns"
                                                                   ng-required="currentStep == 1"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3" ng-if="params.show.residentDiners">
                                                        <div class="form-group">
                                                            <label> Resident Diners <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Resident Diners"
                                                                   class="form-control"
                                                                   name="residentDiners"
                                                                   ng-model="params.formData.residentDiners"
                                                                   ng-required="currentStep == 1"/>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3" ng-if="params.show.lunchCoversTotal">
                                                        <div class="form-group">
                                                            <label> Total Lunch Covers <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Total Lunch Covers"
                                                                   class="form-control"
                                                                   name="lunchCoversTotal"
                                                                   ng-model="params.formData.lunchCoversTotal"
                                                                   ng-required="currentStep == 1"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3" ng-if="params.show.dinnerCoversTotal">
                                                        <div class="form-group">
                                                            <label> Total Dinner Covers <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Total Dinner Covers"
                                                                   class="form-control"
                                                                   name="dinnerCoversTotal"
                                                                   ng-model="params.formData.dinnerCoversTotal"
                                                                   ng-required="currentStep == 1"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3" ng-if="params.show.roomServiceCovers">
                                                        <div class="form-group">
                                                            <label> Room Service Covers <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Room Service Covers"
                                                                   class="form-control"
                                                                   name="roomServiceCovers"
                                                                   ng-model="params.formData.roomServiceCovers"
                                                                   ng-required="currentStep == 1"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-o next-step btn-wide pull-right"
                                                        ng-click="form.next(Form)">
                                                    Next <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: WIZARD STEP 1 -->
                                <!-- start: WIZARD STEP 2 -->
                                <div id="step-2" ng-show="currentStep == 2">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <fieldset>
                                                <legend>
                                                    Revenue
                                                </legend>
                                                <div class="row">
                                                    <div class="col-sm-3" ng-if="params.show.lunchFoodRevenues">
                                                        <div class="form-group">
                                                            <label> Lunch Food Revenue <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Lunch Food Revenue"
                                                                   class="form-control"
                                                                   name="lunchFoodRevenues"
                                                                   ng-model="params.formData.lunchFoodRevenues"
                                                                   ng-required="currentStep == 2"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3" ng-if="params.show.dinnerFoodRevenue">
                                                        <div class="form-group">
                                                            <label> Dinner Food Revenue <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Dinner Food Revenue"
                                                                   class="form-control"
                                                                   name="dinnerFoodRevenue"
                                                                   ng-model="params.formData.dinnerFoodRevenue"
                                                                   ng-required="currentStep == 2"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3" ng-if="params.show.barFoodRevenue">
                                                        <div class="form-group">
                                                            <label> Bar Food Revenue <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Bar Food Revenue"
                                                                   class="form-control"
                                                                   name="barFoodRevenue"
                                                                   ng-model="params.formData.barFoodRevenue"
                                                                   ng-required="currentStep == 2"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3" ng-if="params.show.afternoonTeaRevenue">
                                                        <div class="form-group">
                                                            <label> Afternoon Tea Revenue <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Afternoon Tea Revenue"
                                                                   class="form-control"
                                                                   name="afternoonTeaRevenue"
                                                                   ng-model="params.formData.afternoonTeaRevenue"
                                                                   ng-required="currentStep == 2"/>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-3" ng-if="params.show.lunchLiquorRevenue">
                                                        <div class="form-group">
                                                            <label> Lunch Liquor Revenue <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Lunch Liquor Revenue"
                                                                   class="form-control"
                                                                   name="lunchLiquorRevenue"
                                                                   ng-model="params.formData.lunchLiquorRevenue"
                                                                   ng-required="currentStep == 2"/>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3" ng-if="params.show.dinnerLiquorRevenue">
                                                        <div class="form-group">
                                                            <label> Dinner Liquor Revenue <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Dinner Liquor Revenue"
                                                                   class="form-control"
                                                                   name="dinnerLiquorRevenue"
                                                                   ng-model="params.formData.dinnerLiquorRevenue"
                                                                   ng-required="currentStep == 2"/>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3" ng-if="params.show.barLiquorRevenue">
                                                        <div class="form-group">
                                                            <label> Bar Liquor Revenue <span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Bar Liquor Revenue"
                                                                   class="form-control"
                                                                   name="barLiquorRevenue"
                                                                   ng-model="params.formData.barLiquorRevenue"
                                                                   ng-required="currentStep == 2"/>
                                                        </div>
                                                    </div>


                                                </div>
                                            </fieldset>
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-o next-step btn-wide pull-right"
                                                        ng-click="form.next(Form)">
                                                    Next <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: WIZARD STEP 2 -->
                                <!-- start: WIZARD STEP 3 -->
                                <div id="step-3" ng-show="currentStep == 3">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <fieldset>
                                                <legend>
                                                    Commentary
                                                </legend>
                                                <div class="row">
                                                    <div class="col-sm-12" ng-if="params.show.commentarySales">
                                                        <div class="form-group">
                                                            <label>Sales</label><br><label>Comment on performance
                                                            against forecast/expected, including reasons for no shows &
                                                            walk ins.</label>
                                                            <textarea placeholder="Sales"
                                                                      rows="10"
                                                                      class="form-control"
                                                                      name="commentarySales"
                                                                      ng-model="params.formData.commentarySales"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12" ng-if="params.show.commentaryPayroll">
                                                        <div class="form-group">
                                                            <label>Payroll</label><br><label>Comment on levels of
                                                            staffing on shift appropriate to the level of covers, if not
                                                            state reasons such as staff illness level of walkins
                                                            etc</label>
                                                            <textarea placeholder="Payroll"
                                                                      rows="10"
                                                                      class="form-control"
                                                                      name="commentaryPayroll"
                                                                      ng-model="params.formData.commentaryPayroll"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12" ng-if="params.show.commentaryMaintenanceIssues">
                                                        <div class="form-group">
                                                            <label>Maintenance Issues</label><br><label>Include here any
                                                            maintenance issues, broken equipment etc.</label>
                                                            <textarea placeholder="Maintenance Issues"
                                                                      rows="10"
                                                                      class="form-control"
                                                                      name="commentaryMaintenanceIssues"
                                                                      ng-model="params.formData.commentaryMaintenanceIssues"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12" ng-if="params.show.commentaryPeople">
                                                        <div class="form-group">
                                                            <label>People</label><br><label>Include here any HR issues,
                                                            recruitment requirements, positive & negative feedback RE
                                                            FOH staff.</label>
                                                            <textarea placeholder="People"
                                                                      rows="10"
                                                                      class="form-control"
                                                                      name="commentaryPeople"
                                                                      ng-model="params.formData.commentaryPeople"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12" ng-if="params.show.commentaryProduct">
                                                        <div class="form-group">
                                                            <label>Product</label><br><label>Include here customer
                                                            feedback regarding food & beverage. Any suggestions,
                                                            specials that have sold well.</label>
                                                            <textarea placeholder="People"
                                                                      rows="10"
                                                                      class="form-control"
                                                                      name="commentaryProduct"
                                                                      ng-model="params.formData.commentaryProduct"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12" ng-if="params.show.commentaryMarketing">
                                                        <div class="form-group">
                                                            <label>Marketing</label><br><label>Include here comments on
                                                            promotion up takes, any offers and how well they have been
                                                            received. Any suggestions</label>
                                                            <textarea placeholder="Marketing"
                                                                      rows="10"
                                                                      class="form-control"
                                                                      name="commentaryMarketing"
                                                                      ng-model="params.formData.commentaryMarketing"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12" ng-if="params.show.commentaryPersonName">
                                                        <div class="form-group">
                                                            <label> Name of person completing form<span
                                                                    class="symbol required"></span> </label>
                                                            <input type="text"
                                                                   placeholder="Name of person completing form"
                                                                   class="form-control"
                                                                   name="commentaryPersonName"
                                                                   ng-model="params.formData.commentaryPersonName"
                                                                   ng-required="currentStep == 3"/>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12" ng-if="params.show.commentaryEmail">
                                                        <div class="form-group">
                                                            <label> Email address where confirmation of responses will
                                                                be sent</label>
                                                            <input type="text"
                                                                   placeholder="Email address where confirmation of responses will be sent"
                                                                   class="form-control"
                                                                   name="commentaryEmail"
                                                                   ng-model="params.formData.commentaryEmail"/>
                                                        </div>
                                                    </div>
                                                </div>

                                            </fieldset>
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-o next-step btn-wide pull-right"
                                                        ng-click="form.next(Form)">
                                                    <span ng-if="currentStep == 3">Submit</span>
                                                    <span ng-if="currentStep != 3">Next</span>
                                                    <i class="fa fa-arrow-circle-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: WIZARD STEP 3 -->
                                <!-- start: WIZARD STEP 4 -->
                                <div id="step-4" ng-show="currentStep == 4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-center">
                                                <h1 class=" ti-check block text-primary"></h1>
                                                <h2 class="StepTitle">Congratulations!</h2>
                                                <p class="text-large">
                                                    Your tutorial is complete.
                                                </p>
                                                <p class="text-small">
                                                    Thank you for your registration. Your transaction has been
                                                    completed, and a receipt for your purchase has been emailed to you.
                                                    You may log into your account to view details of this transaction.
                                                </p>
                                                <a class="btn btn-primary btn-o" href ng-click="form.goTo(Form, 1)">
                                                    Back to first step </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: WIZARD STEP 4 -->
                            </div>
                        </form>
                        <!-- end: WIZARD FORM -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- start: WIZARD DEMO -->